.header {
    padding: 20px 10px;
    background-color: rgba(129, 14, 120, 0.568);
    display: flex;
    gap: 40px;

}
.moveMe{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    font-size: 18px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    
    cursor: move;
}
.title {
    
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}